---
title: Instana Microservices Application Monitoring for PCF (Beta)
owner: Partners
---

<strong><%= modified_date %></strong>

<!-- **If this product is in beta, keep and edit the warning note below.** -->
<p class="note warning">
<strong>Warning: </strong>
Instana Microservices Application Monitoring for PCF is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a PCF production environment.
</p>

<!-- **This topic begins with a brief description of what the product tile (e.g. Apigee Edge Service Broker for PCF) does,
whereas the Overview section below describes what the service itself (e.g. Apigee Edge) does. See below for an example.** -->

This documentation describes Instana Microservices Application Monitoring for Pivotal Cloud Foundry (PCF).
Instana Microservices Application Monitoring for PCF automates the deployment of the Instana agent across a PCF Foundation.
The Instana agent automatically monitors applications and services deployed across the PCF Foundation and alerts you of issues in seconds.

<!-- **Note**: This description will appear under **OVERVIEW** in the tile's listing on [Pivotal Network](http://network.pivotal.io). -->

## <a id='overview'></a>Overview

<!--
**The overview describes the service that your product offers to PCF developers.
Make sure to overview the features of the integration.
Don't focus only on the overview of your product that is being integrated.
See below for an example.**
-->

Instana Microservices Application Monitoring for PCF is a turn-key Application Performance Management solution that provides immediate and granular visibility across all layers of your PCF Foundation: the applications running on PCF, the services they consume, and the infrastructure that hosts them.
Instana's AutoTrace technology automatically and imimediately provides observability and collects health data so your developers can focus on delivering high quality, business critical applications.

Instana Microservices Application Monitoring for PCF helps you:

- Immediately understand the impact of every release so you can take quick action when deployments go wrong
- Automatically organize all infrastructure and application data into context-rich dependency relationships so you can immediately get to the root cause of any issue
- Confidently deploy software faster with fewer performance and quality defects

For more information about Instana's AutoTrace technology, see the [Instana documentation, Core concepts](https://docs.instana.io/core_concepts/tracing/).

<!--
**Note**: This overview will appear under **OVERVIEW**, combined with the description above in the tile's listing on
[Pivotal Network](http://network.pivotal.io).
-->

## <a id='features'></a>Key Features

<!--
**Note**: This feature list will appear under **FEATURES** in the tile's listing on
[Pivotal Network](http://network.pivotal.io).
Make sure you list the key features of the tile (the integration).
We cannot accept a list of the key features of your product that we are integrating.
-->

Instana Microservices Application Monitoring for PCF includes the following key features:

- Fully automated deployment of the Instana agent across an entire PCF foundation
- Continuous discovery and automatic monitoring of Cloud Foundry applications

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Instana Microservices Application Monitoring for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>1.160.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>August 12, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>Build 160</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.3.x, v2.4.x, v2.5.x, and v2.6.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v2.3.x, v2.4.x, v2.5.x, and v2.6.x</td>
    </tr>
    <tr>
        <td>BOSH stemcell version</td>
        <td>Ubuntu Xenial, Ubunto Bionic, and Centos 7</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, and OpenStack</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

<!--
**Provide any general or specific requirements, prerequisites, or dependencies here.
A general requirement might be something like, "An AppDynamics account."
A specific requirement might be something like, "Packaging Dependencies for Offline Buildpacks."**
-->

Instana Microservices Application Monitoring for PCF has the following requirements:

+ The coordinates of the Instana backend: endpoint and endpoint port
+ Instana agent key

All the configurations required for configuring the Instana Microservices Application Monitoring for PCF tile for your PCF foundation are available in the **More &gt; Management Portal &gt; Install Agent &gt; Instana Microservices Application Monitoring for PCF tile** section in the Instana backend.

If you do not already have an Instana backend, Instana offers a self-service trial that is entirely compatible with the Instana Microservices Application Monitoring for PCF tile: see the [Instana Free Trial](https://www.instana.com/trial/) page.

## <a id="limitations"></a>Limitations

### Pivotal Application Service

<!--
Cloud Foundry operators are responsible for installing and updating agents. With BOSH it is best to use the Instana static agent, as such, rolling out of agent fixes requires Cloud Foundry operator action.
-->
Monitoring .NET Core applications running with the dotnet-buildpack is supported for non self-contained applications; see the [Deploying DotNet Core Apps with the DotNet Core Buildpack](./using.html#deploying-cf-applications-dotnetcore) section for more information.

Tracing PHP applications running with the PHP buildpack is not supported.
The Instana agent does not automatically trace them.

Tracing Python applications running with the Python buildpack requires following the "Activating without code changes" method described in the [Python sensor documentation](https://github.com/instana/python-sensor#activating-without-code-changes).
The supported activation method requires setting an environment variable, which can be specified in the `cf push` manifest as shown in the [Deploying with App Manifests](https://docs.cloudfoundry.org/devguide/deploy-apps/manifest.html) documentation of Cloud Foundry.

Windows-based Diego Cells are not supported. The Instana agent will not be installed on the Windows-based Diego cells.

When using the java-buildpack with an OpenJDK JRE version 8, the `USE_ATTACH_TOOLS=true` advanced configuration option for the Instana agent must be used to enable tracing.
See the [Configuring Advanced Configurations for the Instana Agents](docs-instana/docs-content/installing.html.md.erb#advanced-configurations) section for more information on how to apply the `USE_ATTACH_TOOLS=true` advanced configuration option.

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about an issue bug visit [Instana here](https://support.instana.com/hc/en-us).

## <a id='license'></a>License

Before deploying the Instana Microservices Application Monitoring for PCF tile, you must procure an Instana backend or SaaS tenant unit. The Instana Microservices Application Monitoring for PCF tile is automatically configured to use APM licenses on Diego Cells and Infrastructure licenses everywhere else; for more information about Instana licenses see [Instana's Pricing](https://www.instana.com/pricing/).

If you do not already have an Instana backend, Instana offers a self-service trial that is entirely compatible with the Instana Microservices Application Monitoring for PCF tile: see the [Instana Free Trial](https://www.instana.com/trial/) page.

For information about licensing, see the [Instana terms of use](https://docs.instana.io/instana-terms-latest.pdf).
