---
title: Installing and Configuring Instana Microservices Application Monitoring for Pivotal Platform
owner: Partners
---

<strong><%= modified_date %></strong>

This topic describes how to install and configure Instana Microservices Application Monitoring for Pivotal Platform.

##<a id='install'></a> Install and Configure Instana Microservices Application Monitoring for Pivotal Platform

To install Instana Microservices Application Monitoring for Pivotal Platform on the Ops Manager Installation Dashboard, do the following:

1. Download the product file from Pivotal Network.
2. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.
3. Under the **Import a Product** button, click **+** next to the version number of Instana Microservices Application Monitoring for Pivotal Platform.
This adds the tile to your staging area.
4. Click the newly added Instana Microservices Application Monitoring for Pivotal Platform tile.
![The Instana Microservices Application Monitoring for Pivotal Platform tile is added, and it need a minimal configuration](./assets/tile-added.png)
5. Instana Microservices Application Monitoring for Pivotal Platform requires minimal configuration:

  - **Backend connection** menu:
    - **Endpoint host**: the DNS name of the Instana backend, e.g., `saas-us-west-2.instana.io`
    - **Endpoint port**: the port number on which the Instana backend listens; for the SaaS offering of Instana, the value is `443`, but it can be configured differently for on-premise Instana backend installations
    - **Agent key**: the secret used by the Instana agent to authenticate itself to the Instana backend

  **NOTE:** The data required for the configurations listed above is readily available in the Instana dashboard, under **More** &gt; **Management Portal** &gt; **Install agent**.

  - **Agent Configuration** menu:
    - **Update mode**: if the agent should update itself regularly (recommended), or rather keep to a specific version; see [Configuring automatic updates for the Instana Agents](#updates) for more information

6. Click **Save**.
![The Instana Microservices Application Monitoring for Pivotal Platform tile is configured](./assets/configure-updates.png)
7. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install Instana Microservices Application Monitoring for Pivotal Platform.

8. The Instana agent is rolled out to the Pivotal Platform foundation.

After the changes have been rolled out, whenever a new Virtual Machine is created in the Pivotal Platform foundation, for example by adding new tiles or creating new service instances, the Instana agent is automatically added to it.

##<a id='updates'></a> Configuring Updates for the Instana Agents

Instana Microservices Application Monitoring for Pivotal Platform is self-contained, meaning that it ships with a version of the Instana agent that has all sensors needed to monitor Pivotal Platform, its services, and the applications running on it.

Nevertheless, Instana regularly release agent updates providing new sensors as well as performance improvements, and it is highly recommended to keep the agents updated to enjoy the continous improvements in terms of features, performance, and reliability.

There are the following options to keep updated the Instana agents deployed via the Instana Microservices Application Monitoring for Pivotal Platform:

- Install the latest version of Instana Microservices Application Monitoring for Pivotal Platform; for instructions, see the [Install and Configure Instana Microservices Application Monitoring for Pivotal Platform](#install) section
- Use the **Agent Configuration** tab of the Instana tile, which allows you to configure the update policies of the Instana agents via the Ops Manager:
  - _Static Updates_: the Instana agents will run in the version shipped with the installed tile version and never update themselves unless a new versiomn of the tile is rolled out.
  - _Dynamic Updates_ with _Regular updates_: the Instana agents can be instructed to update themselves at regularly intervals, once a day, either once a week or every day.
  - _Dynamic Updates_ with _Pinned version_: the Instana agents can pull specific versions of their components, based on the Git commits available on the [Instana Agent Updates](https://github.com/instana/agent-updates) repository.

Instana advises the use of _Dynamic Updates_ with _Regular updates_ whenever compatible with the policies of the end users.
_Dynamic Updates_ with _Regular updates_ also avoids the need of applying changes via Ops Manager, as the agents will update themselves without having to be redeployed.

If strict control is desired in terms of agent updates, _Dynamic Updates_ with _Pinned version_ provides fine-grained control without requiring updating the tile.
To change which version is pinned, the configuration change will require applying the change via Ops Manager, including in the change all tiles and the respective errands that are responsible for updating the Virtual Machines to which the agent updates need to be rolled out.

In cases requiring advanced control in terms of how updates are rolled out, end users can point the agents to internal Maven-compatible repositories, as means of tighly regulating the rollout of updates.
For more information about configuring agent updates, see the [Agent Versioning and Update Management](https://docs.instana.io/quick_start/agent_configuration/#agent-versioning-and-update-management) section of the Instana documentation.

##<a id='advanced-configurations'></a> Configuring Advanced Configurations for the Instana Agents

Instana Microservices Application Monitoring for Pivotal Platform offers some configuration options that are seldom required through the **Advanced configurations** menu.

###<a id='download-key'></a> Download Key

The **Advanced configurations > Download key** setting allows to specify which secret is used by agents to download their updates.
This setting is only ever required in case you are running you own mirror of Instana's updates repository and have set up a different authentication secret than the value of **Backend connection > Agent key**.

###<a id='multiple-instana-backends'></a> Multiple Instana Backends

The **Backend connection > Report to additional Instana backends** setting allows to specify additional backends, on top of the one that is specified in the **Backend connection** tab.
The proxy settings specified in the **Backend connection** tab apply also to the backends configured via the **Backend connection > Report to additional Instana backends** setting.
Up to three additional backends are supported, so the Instana agents can be configured to report to up to four backends; due to technical limitations, the Instana Microservices Application Monitoring tile will allow to specify any number of additional backends, but any beyond the third will be ignored.

After saving the new configurations, it is necessary to **Apply Changes** in the OpsManager dashboard to roll them out to the Instana agents installed across the Pivotal Platform foundation.
It is possible to roll out changes only to the relevant tiles in the Pivotal Platform foundation.

###<a id='agent-environment'></a> Agent Environment

Some advanced configurations of the Instana agent are triggered via environment variables.
Environment variables on the Instana agent are set using the **Advanced configurations > Environment settings** menu.

![Setting the `USE_ATTACH_TOOLS` advanced configuration in the **Advanced configurations** menu](./assets/advanced-settings.png)

After saving the new configurations, it is necessary to **Apply Changes** in the OpsManager dashboard to roll them out to the Instana agents installed across the Pivotal Platform foundation.
It is possible to roll out changes only to the relevant tiles in the Pivotal Platform foundation.
For example, the `USE_ATTACH_TOOLS` advanced configuration is relevant only for Diego cells, so the **Apply Changes** process could be run to affect only the BOSH Director, Instana Microservices Application Monitoring for Pivotal Platform and Pivotal Application Service tiles.

In general, the **Advanced configurations > Environment settings** should be used only when instructed by Instana's support or explicitly mentioned in this documentation.