---
title: Release Notes for Instana Microservices Application Monitoring for VMware Tanzu
owner: Partners
---

<strong><%= modified_date %></strong>

<!--
**This topic should include the Release Notes for your product. For examples, see the
[GCP Service Broker Release Notes](http://docs.pivotal.io/gcp-sb/release-notes.html) or the
[ISS Knowtify Search Analytics Release Notes](http://docs.pivotal.io/knowtify/release.html).
When you release a new version, add new release notes to this file, keeping the older notes below.**
-->

These are release notes for Instana Microservices Application Monitoring for VMware Tanzu.

##<a id="v1.176.0"></a> v1.176.0

**Release Date:** April 27, 2020

New features:

* Rebranding of PKS to VMware Tanzu Kubernetes Grid
* VMware Tanzu Kubernetes Grid clusters (formerly: Pivotal Container Service) are now recognized and marked as such in the Instana UI.
* Introduced notion of `foundation`, which is applicable to both VMware Tanzu Kubernetes Grid and TAS and allows you to group and filter in Instana by the Tanzu foundation name.
* Tracing Ruby applications in Cloud Foundry is now generally available.
* Tracing PHP applications in Cloud Foundry is now experimental: the tracing itself works great and is entirely automated; we need to correlate to the infrastructure (Cloud Foundry app and below) correctly.
* The origin of the Instana agents in the `Agents` view in Instana is now `tile`. The Instana agents installed on VMware Tanzu Kubernetes Grid worker nodes will be reported as `public docker` for consistency with other Kubernetes deployment means.
* Greatly improved the efficiency deployment mechanism of Instana agent Docker images on Kubernetes Grid worker nodes.

Bug fix:

* Fix race condition between BOSH updates and agent updates in dynamic mode.

##<a id="v1.173.1"></a> v1.173.1

**Release Date:** March 30, 2020

Bug fix:

* Prevent race condition that would cause Garden containers to be recognized as ContainerD containers instead, thus preventing the processes inside those containers from being traced. (Instana has generally support for ContainerD as well, but it is not applicable to Garden containers.)

##<a id="v1.173.0"></a> v1.173.0

**Release Date:** March 24, 2020

New features:

* Added support for self-contained .NET Core applications.
* Address rebranding of Pivotal Platform to VMware Tanzu

##<a id="v1.172.1"></a> v1.172.1

**Release Date:** February 27, 2020

New features:

* Added support for Pivotal Isolation Segment in conjunction with the Tile Replicator

##<a id="v1.172.0"></a> v1.172.0

**Release Date:** February 25, 2020

New features:

* Added support for Pivotal Isolation Segment
* Collect the instance identifier for Cloud Foundry application instances

Bug Fixes:

* Fixed an issue with the instana-agent BOSH release that prevented settings for `router` and `diego_cell` instance groups to apply to their isolated counterparts

##<a id="v1.170.0"></a> v1.170.0

**Release Date:** January 30, 2020

First release of 2020, and the year starts *strong*!

New features:

* TAS for VMs: v2.8 support
* PKS: Support for the agents to report to multiple backends
* PKS: General Availability!
* Automatic monitoring of MongoDB service instances spawned from the MongoDB Enterprise Service for VMware Tanzu

Improvements:

* The Instana tile no longer declares itself as a `service_broker` tile, so no network and availability zone allocation is required.
While it has been working transparently via the OpsManager web interface, the required allocation to networks caused issues with `om configure-product` command; these issues are now resolved.

Bug fix:

* Resolved an issue that might prevent the Instana agent Docker images from updating on PKS over the Tile update.

##<a id="v1.168.0"></a> v1.168.0

**Release Date:** December 19, 2019

Last update for this year, but tons of new stuff!

New features:

* Pod Security Policies support for PKS.
* Out-of-the-box process monitoring in terms of CPU, memory and open files for GoRouter, Cloud Controller, Kube-related processes on the master nodes of PKS, BOSH agent and BOSH DNS-related processes.
* Automatic management of maintenance windows based on BOSH tasks; for more information, see the [Automatic Maintenance Windows for BOSH deployments](./using.html#maintenance-windows) section.
* All tile settings are compatible with the `om` utility.
* [Experimental] Automatically monitor all RabbitMQ queues of service instances spawned via the RabbitMQ for VMware Tanzu tile.

Bug fix:

* Air-gap the PKS support by embedding the `leader-elector` image in the tile.

##<a id="v1.166.2"></a> v1.166.2

**Release Date:** December 2, 2019

* Fix an issue with additional backends in OpsMan 2.7.
* Automatically delete the Instana agent daemonset upon the removal of the Instana tile.

##<a id="v1.166.1"></a> v1.166.1

**Release Date:** November 20, 2019

* Technical preview of Pivotal Container Service (PKS) support; see the [Pivotal Container Service Support](./using.html#pks) section for more information.

##<a id="v1.166.0"></a> v1.166.0

**Release Date:** November 14, 2019

* Add experimental integration for Pipeline Feedback to track BOSH deployments; see the [Pipeline Feedback for BOSH deployments](./using.html#pipeline-feedback) section for more information.

##<a id="v1.162.1"></a> v1.162.1

**Release Date:** October 10, 2019

* Add support for reporting monitoring data into up to four multiple Instana backends; see the [Multiple Instana Backends](./installing.html#multiple-instana-backends) page for more information.

##<a id="v1.162.0"></a> v1.162.0

**Release Date:** October 3, 2019

* Allow to turn off automatic monitoring of the various supported 3rd-party tiles

##<a id="v1.161.0-RC1"></a> v1.161.0-RC1

**Release Date:** September 22, 2019

A version packed with improvements!

* Cloud Foundry as first-class citizen in Instana: find all your Cloud Foundry applications quickly and easily in Instana via the new _Cloud Foundry_ main page.
* Integration of Cloud Foundry in Instana's Dynamic Focus and Infrastructure Map.
* Automatically monitor Redis service instances created via the [Redis for VMware Tanzu](https://network.pivotal.io/products/p-redis) tile.
* Automatically monitor MySQL service instances created via the [MySQL for VMware Tanzu](https://network.pivotal.io/products/pivotal-mysql/) tile.
* Automatically monitor the PXC MySQL database backing Cloud Foundry's Cloud Controller.
* Configure the `USE_ATTACH_TOOLS=true` advanced configuration by default to ensure that all Java applications and automatically discovered and traced, irrespective of the JVM version they run on.

##<a id="v1.160.3"></a> v1.160.3

**Release Date:** September 9, 2019

Fixed issues in this release:

* Solved an issue on VMware Tanzu 2.3.14 that occasionally prevented the Instana agent BOSH job from being updated.

##<a id="v1.160.2"></a> v1.160.2

**Release Date:** September 5, 2019

Fixed issues in this release:

* Solved an issue on VMware Tanzu 2.3.14 that prevented the leadership-election job from successfully bootstrap.
* Solved an issue with VMware Tanzu 2.6.4 where some Garden container identifiers may not be collected consistently.

##<a id="v1.160.1"></a> v1.160.1

**Release Date:** August 22, 2019

Features included in this release:

* Expose **Download key** as advanced configuration

Fixed issues in this release:

* Fixed an issue with TAS for VMs 2.3.4, where the deployment would fail due to BOSH not deploying correctly the `leadership-election` job.
* Fixed an issue with TAS for VMs 2.6.4, where the deployment would fail due to BOSH having too many link providers for the `leadership-election` link.

##<a id="v1.160.0"></a> v1.160.0

**Release Date:** August 16, 2019

Features included in this release:

* Expose advanced configuration options for the Instana agent.
* Support Java buildpack running OpenJDK 8; some tile configuration is required, see [Deploying Java applications using the Java Buildpack and OpenJDK 8](./using.html#deploying-cf-applications-java-openjdk).
* Support for tracing .NET Core applications running on the dotnet-core-buildpack; some configuration for `cf push` is required, see [Deploying DotNet Core Apps with the DotNet Core Buildpack](./using.html#deploying-cf-applications-dotnetcore) for more information.

##<a id="v1.158.0"></a> v1.158.0

**Release Date:** July 25, 2019

Features included in this release:

* Expose advanced configuration options for the Instana agent
* Support Java buildpack running OpenJDK 8; some tile configuration is required, see [Deploying Java applications using the Java Buildpack and OpenJDK 8](./using.html#deploying-cf-applications-java-openjdk)
* Support for tracing .NET Core applications running on the dotnet-core-buildpack; some configuration for `cf push` is required, see [](./using.html#deploying-cf-applications-dotnetcore)

##<a id="v1.157.1"></a> v1.157.1

**Release Date:** July 17, 2019

Features included in this release:

* Instana agent improvements for VMware Tanzu 2.6

##<a id="v1.157.0"></a> v1.157.0

**Release Date:** July 9, 2019

Features included in this release:

* Support for configuration of Instana agent updates
* Instana agent logs are retrievable via the logging facilities of OpsManager and `bosh logs`

<!--
Fixed issues in this release:
* Fixed issue one.
* Fixed issue two.
* Fixed issue three.
**When you have fixed issue, you should have a corresponding known issue in the release below.**
Known issues in this release:
* Issue one.
* Issue two.
* Issue three.
-->

<!--
##<a id="ver"></a> vPREVIOUS-VERSION-NUMBER (Ex. v1.0.0)
**Release Date:** RELEASE-DATE (Ex. August 1, 2017)
Features included in this release:
* Feature one.
* Feature two.
* Feature three.
Fixed issues in this release:
* Fixed issue one.
* Fixed issue two.
* Fixed issue three.
Known issues in this release:
* Issue one.
* Issue two.
* Issue three.
-->
